/*全局样式文件*/
.maxHeight{
  height: 100%;
}
//主题内容区域盒子
.content-block{
  flex: 1;
  box-shadow:0px 3px 18px 0px rgba(0, 0, 0, 0.11);
  border-radius:15px;
  overflow: hidden;
  height: 100%;
}
//搜索栏样式
.search-box{
  width: 100%;
  display: flex;
  padding-left: 8px;
  flex-wrap: wrap;
  .search-input{
    width: 160px;
    margin: 4px 4px;
  }
  .search-submit{
    margin: 4px 16px 4px 12px;
    .search-btn{
      padding: 0 15px;
      height: 36px;
      i{
        font-size: 20px;
      }
    }
  }
  .redundant-btn{
    margin: 4px 0;
  }
}
//table内的操作按钮样式
.table-btn-box{
  .table-btn{
    margin: 4px;
  }
}
