.top-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  .ivu-breadcrumb{
    color: inherit;
  }
  //最后一个url改成灰色的
  .BreadcrumbItemLast /deep/ span{
    color: #a0a0a0;
    font-weight: 300;
  }
}

.sidebar-wrapper{
  position: absolute;
  left: 0;
  width: 200px;
  top: 60px;
}

.content-wrapper{
  margin-top: 60px;
  margin-left: 200px;
}
